<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Email</title>
</head>
<body>

    <h1>User Email</h1>
    <form action="/submit-email" method="POST">
        <input type="text"  name="subject" placeholder="Enter Subject"> <br><br>
        <textarea name="message" placeholder="Enter Message"></textarea> <br><br>
        <button type="submit">Submit</button>

    </form>
</body>
</html>