<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Students</title>
  </head>
  <body>
    <h1>Students List</h1>
    <table border="1">
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
      <% students.forEach(student =>{ %>
        <tr>
        <td><%= student.name %></td>
        <td><%= student.age %></td>
        <td><%= student.email %></td>
        <td>
          <a href="/show-students/delete/<%= student._id %>">Delete</a>
        </td>
      </tr>
      <% })%>
      
    </table>
    <a href="/add">Add Student</a>
  </body>
</html>
