<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All Users</h1>

    <ul>
        <% for(let i = 0; i <users.length; i++) {%>
            <li>
                Name: <%= users[i].name %> | Age: <%= users[i].age %>
                
                <% if (users[i].age >= 18) {%>
                    <span style="color: green;">(Adult)</span>
                <%}else {%>
                    <span style="color: red;">(Not Adult)</span>
                <%} %>
            </li>
        <% }%>
        
    </ul>
</body>
</html>